<template>
  <div class="recipe-container">
    <h1 id="recipeTitle">Recipe Name</h1>
    <div class="ingredients">
      <h2>Ingredients</h2>
      <ul id="ingredientsList">
      </ul>
    </div>
    <div class="instructions">
      <h2>Instructions</h2>
      <ul id="instructionsList">
      </ul>
    </div>
    <button id="btnBack">Back to Home</button>
    <button id="btnEdit">Edit recipe</button>
  </div>

  <!-- <form id="recipeEditForm">
    <h2>Edit Recipe</h2>
    <label for="recipeName">Recipe Name</label>
    <input type="text" id="recipeName" name="name" required />

    <h3>Ingredients</h3>
    <ul id="ingredientsList">
    </ul>
    <button type="button" id="addIngredientButton">Add Ingredient</button>

    <h3>Instructions</h3>
    <ul id="instructionsList">
    </ul>
    <button type="button" id="addInstructionButton">Add Instruction</button>
    <br> 
    <button type="submit">Save Changes</button>
  </form> -->
</template>